.build/
.rpmbuild/
.cache/
.dist/
3thd/
asn.txt
var/
profile/
bin/
share/
lib/
include/
sbin/
src/include
src/prepare-includes.log
src/include/version.h
etc/test
*.tar.gz
vcpkg-*.zip
vcpkg/
.vcpkg/
profiles/
etc/lur_*.conf
etc/lur_test_*.conf
docs/to_do_svc_target.txt
CMakeUserPresets.json
slim.report.json